div.log-in 
{
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    background-color: #2BB7CD;
}

div.header
{
	height: 100px;
	background-color: #00A99D;
}

div.header h1 
{
	padding: 22px;
	font-size: 50px;
}

div.side
{
	float: left;
	width: 16%;
	background-color: #8880BB;
	height: 79.5%;
	position: relative;
}

div.content
{
	background-color: #86CBC9;
	height: 79.5%;
	width: 83.9%;
	display: inline-block;
	margin-left: 1px;
}

div.content h2
{
	margin: 20px;
}
div.footer
{
	clear: both;
	background-color: #EB6089;
}
a
{
	text-decoration: none;
	color: black;
}

.side a:hover 
{
	color: #bfbfbf;
}

.content a:hover
{
	color:#535661;
}

div
{
	border-radius: 5px;
}
.side ul
{
	list-style-type: none;
}
h1,h2,h3,h4
{
	margin: 1px;
}
.button
{
	background-color: #f5f5f5;
	padding: 3px;
	border-radius: 4px;
}
.content form
{
	margin-left: 25px;
	margin-top: 20px;
}

a.tab-space
{
	float: right;
	margin-right: 5%;
}
a.tab-spaces
{
	float: right;
	margin-right: 75%;
}

.main-block
{
	display: inline-block;
	margin-bottom: 20px;
	width: 45%;
}
.main-block .block
{
	display: inline-block;
	margin-right: 10px;
}

.save-button
{
	display: block;
}

form a
{
	text-decoration: underline;
	color: blue;
}

.side-input
{
	display: inline-block;
	vertical-align: text-top;
	margin-right: 25px;
}

header,footer
{
	background-color: #535661;
}

@media (max-width: 768px) {

	.sidenav {  height: auto; }
	footer .contact-links {text-align: center;}
	header .social-links a 
	{ 
		font-size: 14px;
		padding: 7px;
	}
	.fa.fa-facebook
	{
		padding-right: 10px !important;
		padding-left: 10px !important;
	}
	.sidenav .input-group {	margin-left: 20%; }
	header .row .social-links ul, header .row .logo , header .row .links,header .row .logo img,header .links a,
	footer .row .logo , footer .row .links,footer .row .logo img,footer .links a
	{
		text-align: center;
		padding-left:0px !important;
		margin-top: 2px;
		margin-bottom: 2px;
	}


}

.fa
{
	border: solid 2px #fff;
	color:#fff !important;
	border-radius: 100%;
	padding: 10px;
	margin-right: 10px;

}

.fa.fa-facebook
{
	padding-right: 13px;
	padding-left: 13px;
}

.social-links li
{
	list-style-type: none;
	display: inline;
	font-size: 20px;
}

.social-links li a:hover,header .links a:hover,footer .links a:hover
{
	color: #86cbc9 !important;
	text-decoration: none;
	border-color:#86cbc9;
}

.social-links ul
{
	margin-top: 10%;
}

header .links,footer .links
{
	font-size: 20px;
	font-weight: bolder;
	margin-top: 4%;
}
header .links a,footer .links a
{
	padding-left: 20%;
	color: #fff !important;
}
.item
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.item a:hover,.item a
{
	text-decoration: none !important;
	color: #000 !important;
}
.item:hover
{
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.item ul
{
	list-style-type: none;
	padding-left: 0px;
}
.item li.title
{
	display: inline-block;
}
.item h3
{
	margin-top: 10px;
}

#side
{
	border-radius: 0px;
	color: #000;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active 
{
  transform: translateY(-8px);
}

.hvr-float
{
	transition-duration: 0.3s;
}

#side label
{
	font-size: 18px;
}
.btn.btn-primary
{
	background-color: #535661;
	border:solid 2px #535661;
}
.btn.btn-primary:hover
{
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);	
}
.btn.btn-primary:active
{
	border:solid 2px #535661;
	background-color: #535661;
	  
}
.sidenav
{
	height: 100%;
}
#content
{
	height: 100%;
}
section.row
{
	background-color:#8880BB ;
}	
.home
{
	border-radius: 0px;
	background-color:#86CBC9;
}
.links p
{
	color: #fff;
}
.form-control
{
	width: 60% !important;
	border-radius: 5px !important;
}

footer .contact-links ul
{
	color: #fff;
	font-size: 15px;
	list-style-type: none;
}

footer	.contact-links
{
	margin-top: 3%;
}

.info
{
	margin-left: 3%;
	margin-top: 3%;
}

